.calendar {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px; /* Increased max-width */
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
}

.view-toggle {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px; /* Add margin to separate from the header */
}

.header button,
.header select {
  background: #ff7f50;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin: 0 1px; /* Add margin between elements */
  width: 125px; /* Set a fixed width */
  text-align: center; /* Center text */
}

.header button:hover,
.header select:hover {
  background: #ff4500;
}

.header .view-toggle {
  margin-left: auto;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col {
  flex: 1;
  text-align: center;
  padding: 5px;
}

.col-start {
  margin: 0px 0;
  width: 100%;
  text-align: left;
}

.col-center {
  text-align: center;
}

.col-end {
  text-align: right;
  margin: 0px 0;
  width: 100%;
}

.days {
  display: flex;
  justify-content: space-between;
}

.cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* Adjusted to space-between for tasks */
  padding: 20px; /* Increased padding */
  border: 1px solid #ddd;
  cursor: pointer;
  height: 100px; /* Increased height */
}

.cell.disabled {
  background-color: #f0f0f0;
  color: #ccc;
}

.cell.selected {
  background-color: #ff7f50;
  color: white;
}

.number {
  font-size: 16px;
  padding-bottom: 2px;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255);
  z-index: -1;
}

.icon {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.task-list {
  /* margin-top: 1px; */
  font-size: 8px;
  /* width: 100%;
  text-align: left;
  padding-left: 1px; Adjust padding as needed */
}

.calendar-container {
  text-align: center;
  width: 100%;
  max-width: 800px; /* Same max-width as the calendar */
  background: white;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
  margin: 10px auto;
}

.daily-view .cell {
  height: 600px; /* Adjust height for daily view */
  background-color: white; /* Ensure background is white */
}

.weekly-view .cell {
  height: 600px; /* Same height as monthly-view cells */
}

.button-group {
  display: flex;
  gap: 1px; /* Adjust gap between buttons as needed */
}

.date-text {
  font-size: 2.5rem; /* Match the dashboard header text size */
  font-weight: bold;
  text-align: center;
  margin-bottom: 2px;
  color: black;
}