body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timer-container, .timer-buttons, .timer-settings, .task-container, .checkbox-container {
    margin: 10px 0;
    width: 100%;
}

.timer-bar {
    background-color: #e0e0e0;
    padding: 40px; /* Increase padding to make the timer-bar bigger */
    border-radius: 5px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    font-size: 3em; /* Increase the font size */
}